---
title: Le Wagon - Middleman
---




  <div class="banner" style="background-image: url(<%= image_path 'doggy.jpg'%>);">
    <div class="banner-content">
      <h1>Doggys</h1>
      <p>Very cool doggys, funny and smart</p>

      <%= link_to "The Team", "/about.html", class: "btn-medium" %>

      <form id="form-boot">
        <div class="form-group">
          <label for="exampleInputEmail1">Name of your slave</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name...">
          <small id="emailHelp" class="form-text text-muted">We'll never let them go.</small>
        </div>
        <div class="form-group form-check">
        </div>
          <%= link_to "rent us", "#", class: "btn-medium" %>
      </form>
    </div>
  </div>
<hr>
<div class="container">
  <div class="row">
    <% data.users.each do |name, dog| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url(<%= image_path dog.img %>);">
          <div class="card-category"><%= name %></div>
          <div class="card-description">
            <h3><%= dog.breed %></h3>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
<hr>











